In [2]:
import pandas as pd
import numpy as np

In [9]:
df = pd.DataFrame({
    'A': [1, 1, 2, 2],
    'B': [3, 4, 3, 4],
    'C': np.random.randn(4)})
df

   A  B         C
0  1  3 -0.644893
1  1  4 -0.822250
2  2  3 -0.472486
3  2  4  0.655297

In [12]:
# 按照A列分组, 求最小值
# df1 = df.groupby('A')
# df1['B'].min()
df1 = df.groupby(by=['A', 'B']).min()
df1

            C
A B
1 3 -0.644893
  4 -0.822250
2 3 -0.472486
  4  0.655297

In [13]:
# 按照A列分组, 对B求最大值和最小值, 对C求和
df2 = df.groupby('A').agg({'B': [np.max, np.min], 'C': np.sum})
df2

     B              C
  amax amin       sum
A
1    4    3 -1.467143
2    4    3  0.182811

In [17]:
# 按照A列分组, 求剩余数据最大值和最小值
# df3 = df.groupby('A').agg([np.max, np.min])
df3 = df.groupby(by='A').agg(['max', 'min'])
df3

    B             C
  max min       max       min
A
1   4   3 -0.644893 -0.822250
2   4   3  0.655297 -0.472486