In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(37)
df = pd.DataFrame(np.random.randn(4, 4) * 4 + 3)
df

          0         1         2         3
0  2.782146  5.697232  4.386588 -2.201385
1  9.074048  6.959295  4.110724  1.205643
2  6.847865 -0.310315  5.138628  7.913545
3  5.078369  2.746581  2.860827  3.182262

In [3]:
df.min()

0    2.782146
1   -0.310315
2    2.860827
3   -2.201385
dtype: float64

In [4]:
df_norm = (df - df.min()) / (df.max() - df.min())
df_norm

          0         1         2         3
0  0.000000  0.826392  0.669839  0.000000
1  1.000000  1.000000  0.548730  0.336832
2  0.646183  0.000000  1.000000  1.000000
3  0.364949  0.420503  0.000000  0.532248

In [5]:
df_norm2 = (df - df.mean()) / df.std()
df_norm2

          0         1         2         3
0 -1.185535  0.592997  0.276887 -1.118717
1  1.172411  0.981971 -0.014212 -0.312290
2  0.338129 -1.258560  1.070459  1.275440
3 -0.325005 -0.316409 -1.333135  0.155567

In [6]:
df_norm2.mean()

0   -1.526557e-16
1    0.000000e+00
2    2.775558e-16
3   -2.081668e-17
dtype: float64